name: Suspend Service Mock Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - '.github/**'
      - '*.md'
  push:
    branches: [ master, fix/**, feature/** ]
    paths-ignore:
      - 'docs/**'
      - '.github/**'
      - '*.md'


jobs:
  suspend-mock:
    name: Suspend Service Mock Tests (Linux)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci --prefer-offline --no-audit

      - name: Run suspend service mock tests
        run: npm run test:suspend:service-mock
        env:
          CI: true
